@{
    ViewData["Title"] = "Contact Us";
}

<div class="container my-5">
    <h1 class="text-center mb-4">Contact Us</h1>
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-body">
                    <h5><i class="bi bi-geo-alt"></i> Address</h5>
                    <p>123 Coffee Street<br>City, State 12345</p>
                    <h5><i class="bi bi-telephone"></i> Phone</h5>
                    <p>(555) 123-4567</p>
                    <h5><i class="bi bi-envelope"></i> Email</h5>
                    <p>info@cafeapp.com</p>
                    <h5><i class="bi bi-clock"></i> Hours</h5>
                    <p>Monday - Friday: 7:00 AM - 8:00 PM<br>
                       Saturday - Sunday: 8:00 AM - 9:00 PM</p>
                </div>
            </div>
        </div>
    </div>
</div>
